extends layout

block content
  div(class='container')
    h2 User login
    form(action='/login',method='post',data-ajax='false')    
      input(type='text',name='username',placeholder='username',autofocus) 
      input(type='password',name='password',placeholder='password')
      br
      input(type='submit',value='Login')
    p Don't have an account?  
      a(href='/register') Register here!
    p(id='errorMsg') #{error}    
    script(src='/javascripts/blink.js')