extends layout

block content
  div(class='container')
    h2 Login page
    form(action='/login',method='post')    
      input(type='text',name='username',placeholder='username') 
      input(type='text',name='password',placeholder='password')
      br
      input(type='submit',value='Login')
    p Not yet registered?
    a(href='/register') Register here!
    